// Comments
.entry-comments {
	margin-bottom: $spacer-y;
	h3 {
		margin-bottom: $spacer-y;
	}
	.comment {
		margin: 0;
		margin-bottom: $font-size-base;
		&.parent {
			margin-bottom: 0;
		}
		.children {
			margin-top: $font-size-base;
		}
		.media-left {
			img {
				max-width: inherit;
			}
		}
		article {
			display: flex;
			flex-direction: column;
			.comment-header {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-bottom: $font-size-base;
				.comment-author {
					margin-right: auto;
					img {
						margin-right: $font-size-base;
					}
				}
				p {
					margin-bottom: 0;
				}
				.says {
					display: none;
				}
			}
		}
	}
	ul {
		list-style: none;
	}
}

// Trackbacks
.entry-pings {
	.pingback {
		margin-bottom: $spacer-y;
		padding-bottom: $spacer-y;
	}
}

.ping-list {
	@include list-unstyled;
}