body {
    font-size: 14px;
}

/* Navbar
----------------------------------------------------------------------------- */
.navbar {
    padding: {
        right: 0;
        left: 0;
    }
}

.dropdown .nav-item {
    float: none;
    margin-left: 0 !important;
}

/* Archive/Blog Styling
----------------------------------------------------------------------------- */

body.archive,
body.blog {
    .post {
        padding-bottom: $spacer-y;
        margin-bottom: $spacer-y;
    }
}

.entry-image-link {
    display: inline-block;
    margin-bottom: $spacer-y;
}

.archive-description, .blog-template-description, .page-header {
    .entry-title, .archive-title {
        margin-bottom: 0;
        @extend .title;
    }
}

/* Sidebar
----------------------------------------------------------------------------- */
.sidebar {
    .widget {
        margin-bottom: $spacer-y;
        padding-bottom: $spacer-y;
    }
}