/* Widget Styling
------------------------------------------------------------ */

// default widget styles
.widget {
    table {
        @extend .table;
    }
}

.widget_search {
    .search-query {
        margin-bottom: $spacer-y;
    }
}

// includes ID in selector for specificity
.widget_calendar #wp-calendar {
    th, td {
        padding: 0;
    }
}

/** Recent Posts  */
.widget_recent_entries {
	li {
		margin-bottom: $spacer-y;
		a {
			color: $body-color;
			font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            .footer-widgets & {
            	color: $gray-lighter;
            }
			&:hover {
				color: $link-color;
			}
		}
		span {
			color: $gray-light;
			display: block;
			font-family: $font-family-sans-serif;
			font-size: 12px;
		}
	}
}

/** Recent Comments **/
.widget_recent_comments {
	ul {
		li {
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

/** Category Widget **/
.widget_categories, .widget_archive {
	select {
		@extend .form-control;
	}
	ul, ol {
		@extend .list-unstyled;
		ul,ol {
			margin-left: $spacer-y;
		}
		li {
			margin-bottom: $spacer-y;
			a {
				color: inherit;
				&:hover {
					color: $link-color;
				}
			}
			span {
				float: right;
				margin-bottom: 0;
			}
		}
	}
}

/** Tag Cloud Widget */
.widget_tag_cloud {
	.tagcloud {
		font-size: 0;
		a {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
			font-size: 12px !important;
			margin-right: 4px;
			margin-bottom: 4px;
			.sidebar & {
				@extend .btn-primary;
			}
		}
	}
}

/** Genesis Featured Post **/
.featuredpost {
	.entry {
		padding: 0;
		margin: 0;
		border-bottom: 0;
		.entry-header {
			margin-bottom: 5px;
			.entry-title {
				font-size: 16px;
			}
		}
	}
}

/** Calendar Widget
----------------------------------------------------------------------------- */
.widget_calendar {
	table {
		@extend .table;
		@extend .table-responsive;
		@extend .table-striped;
		caption {
			text-align: center;
			text-transform: uppercase;
		}
	}
}